@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #46494C;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a svg {
  margin-right: 5px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #ECEBEA;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}


.form {
  box-shadow: 13px 13px 4px -3px rgba(0,0,0,0.1);
  background-color: #ECEBEA;
  border-radius: 3rem;
  height: 30rem;
  width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.form, .content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-top: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form h1 {
  padding-top: 2rem;
  font-size: 2rem;
}

.btn {
  margin-top: 1rem; 
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 1rem;
  background: #000;
  color: #e6e6e6;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  appearance: button;
  align-items: center;
  justify-content: center;
}










@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media ( max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}