@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: #f6eedf;
  color: #26363C;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1, h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #46494C;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a svg {
  margin-right: 5px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goals h2 {
  margin: 10px;
  text-align: left;
}

.goals p {
  text-align: left;
  margin-left: 1rem;
}

.goal {
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  box-shadow: 15px 15px 10px -1px rgba(0,0,0,0.1);
  background-color: #f6cb5f;
  border-radius: 1rem;
  color: #26363C;
  position: relative;
}

.close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.25rem;
}

.goal-date {
  display: flex;
  justify-content: space-evenly;
}

.form {
  box-shadow: 15px 15px 10px -1px rgba(0,0,0,0.1);
  background-color: #f6cb5f;
  border-radius: 3rem;
  height: 30rem;
  color: #26363C;
}

.form, .content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.form-link {
  margin-right: 10px;
  font-size: .75rem;
}

.reg-link {
  padding-bottom: 1rem; 
}

.form-group {
  margin-top: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 80%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
  font-family: inherit;
}

.form-group label {
  display: block;
}

.form h1 {
  padding-top: 2rem;
  font-size: 2rem;
}


.btn {
  margin-top: 1rem; 
  margin-bottom: 1rem;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 1rem;
  background: #26363C;
  color: #F3ECE0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  opacity: 90%;
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media ( max-width: 600px) {
  .form {
    width: 70%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }

  .goals h2 {
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
  }
  
}